body{
    background-color: rgb(228, 155, 60);
    background-image: url('doctorlog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

button1{
    background-color: rgb(219, 149, 84) ;
    color: white;
    padding: 5px;
}

button1:hover{
    background-color: rgb(184, 118, 57) ;
    cursor:pointer;
}

.login{
    background-color: rgba(169, 105, 41, 0.2) ;
    padding: 40px; 
    color:rgb(156, 92, 31);
    padding-top: 60px;
    margin-top: 5%;
    width: 400px;
    height: 200px;
    display:inline-block;
    
    border-radius: 20px;
}
.header{
    background-color:rgb(186, 111, 31);
    color:white;
    display: flex;
    width: auto;
    
    padding: 15px;
}