*{
    font: trebuchet ms;
}

body{
    background: url("images/success.jpg");
    background-size: cover;
    margin: 0;
}

.header{
    background-color: #c68642;
    color: white;
    
    padding: 10px;
}

h2,h3{
    
    color: #c68642;
    font-size: 30px;
    animation: SlideDown 0.7s;
    transition: 0.3s;
    padding: 10px;
}



table{
    background-color: #ffdbac;
    margin-top: 40px;
    width: 35%;
    border: 2px solid black;
    height: 60%;
    border-radius: 5%;
    animation: FadeIn 2s;
    transition: 0.3s;
    margin-bottom: 5%;
    padding: 10px;
   
    
}

table:hover{
    background-color: rgb(214, 149, 81);
    transform: scaleY(1.1);
    transition: 0.3s;
    color: white;
    
}

button{
    background-color: #c68642;
    margin-top: 0;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10%;
    margin-bottom: 10%;
    animation: FadeIn 2s;
    transition: 0.3s;
}


button:hover{
    background-color: white;
    color: #c68642;
    transform: scaleY(1.1);
    transition: 0.3s;
    cursor: pointer;

}

@keyframes SlideDown{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes FadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
