<!DOCTYPE HTML>
<HTML>
<head>
    <center>
    <h1>B.S.S. HOSPITAL⚕️</h1>
    <link rel="stylesheet" type="text/css" href="/static/app.css"
    </center>
    <hr>
</head>
<body>
    <center>
        <br></br>
        <br></br>
        <br></br>
        <table>
            <tr>
                <td>OP Time Slots For {{name}} : {{slots}}</td>
            </tr>
        </table>
        <br></br>
        <br></br>
        <form method="post" action="{{url_for('appointment',patient=patient, doctor=doctor)}}">
            <table>
                <tr>
                    <td>DATE: <input type="date" name="Date"></td>
                </tr>
                <tr>
                    <td>TIME: <input type="text" name="Time"></td>
                </tr>
                <tr>
                    <td><button type="submit">SUBMIT</button></td>
                </tr>
            </table>
        </form>
        
    </center>

    <br>
    <br>
</body>
</HTML>
