<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Doctors</title>
    <link rel="stylesheet" href="../static/docs.css">
</head>
<body>
    <div class='header'>
            <h>BSS Hospital</h>

    </div>
    <div class="container">
        <ul>
        <h1>OUR DOCTORS</h1>
        <form method="post" action="{{url_for('doctors',patient=patient)}}">
        <ul>
        <li><h3><input name="Doctor" placeholder="Enter Name Of Required Doctor"></h3></li>
        <li><button type="submit" >Submit</button></li>
        </ul>
        </form>
        <br>
        <div class="doctors-grid">
            <div class="doctor-card">
                <img src="../static/images/doctor1.jpg" alt="doctor2">
                <h2>doctor1</h2>
                <p>General</p>
                <p>Monday - Sunday</p>
                <p>3pm - 8pm</p>
                <button>Book Now</button>
            </div>
            <div class="doctor-card">
                <img src="../static/images/doctor1.jpg" alt="doctor2">
                <h2>doctor2</h2>
                <p>General</p>
                <p>Monday - Sunday</p>
                <p>3pm - 8pm</p>
                <button>Book Now</button>
            </div>
            <div class="doctor-card">
                <img src="../static/images/doctor1.jpg" alt="doctor3">
                <h2>doctor3</h2>
                <p>Cardiology</p>
                <p>Monday - Saturday</p>
                <p>3pm - 8pm</p>
                <button>Book Now</button>
            </div>
            <div class="doctor-card">
                <img src="../static/images/doctor1.jpg" alt="doctor4">
                <h2>doctor4</h2>
                <p>Cardiology</p>
                <p>Monday - Saturday</p>
                <p>8am - 3pm</p>
                <button>Book Now</button>
            </div>
            <div class="doctor-card">
                <img src="../static/images/doctor1.jpg" alt="doctor5">
                <h2>doctor5</h2>
                <p>General</p>
                <p>Monday - Sunday</p>
                <p>8am - 7pm</p>
                <button>Book Now</button>
            </div>
            <div class="doctor-card">
                <img src="../static/images/doctor1.jpg" alt="doctor6">
                <h2>doctor6</h2>
                <p>Surgery</p>
                <p>Monday - Saturday</p>
                <p>8am - 3pm</p>
                <button>Book Now</button>
            </div>
            <div class="doctor-card">
                <img src="../static/images/doctor1.jpg" alt="doctor7">
                <h2>doctor7</h2>
                <p>Surgery</p>
                <p>Monday - Saturday</p>
                <p>3pm - 8am</p>
                <button>Book Now</button>
            </div>
            <div class="doctor-card">
                <img src="../static/images/doctor1.jpg" alt="doctor8">
                <h2>doctor8</h2>
                <p>Cardiology</p>
                <p>Monday - Saturday</p>
                <p>8am - 3pm</p>
                <button>Book Now</button>
            </div>
            
        </div>
        
    </div>
</body>
</html>
