<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
    <link rel="stylesheet" href="../static/doctorlog.css">
    <style>
        body {
            background-image: url(../static/images/doctorlog.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
    <div class='header'>
        <nav>
            <h1>BSS Hospital</h1>
            <ul>
                <li>Doctors login</li>
            </ul>
        </nav>
    </div>
    <div class="login">
        <center>
            <h2>LOGIN</h2>
            <form method="POST" action="{{ url_for('login') }}">
                <table>
                    <tr>
                        <td><input type="text" name="username" placeholder=" Enter Username"></td>
                    </tr>
                    <tr>
                        <td><input type="password" name="password" placeholder=" Enter Password"></td>
                    </tr>
                </table>
                <div class="submit">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </center> 
    </div>   
</body>
</html>
