<!DOCTYPE HTML>
<HTML>
<head>
    <link rel="stylesheet" href="../static/no_app.css">
    <style>
        body {
            background-image: url('../static/images/success.jpg'); 
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            
           }
    </style>
</head>

<body>
    <h1 id = "title">B.S.S. HOSPITAL</h1>
    
    <center>
      <div class = "noapp">
        <h2>You have no appoinments today!</h2>
        <a href="doctor_home.html"><button>Home</button></a>
      </div>
    </center>
    
</body>
</HTML>