<!DOCTYPE HTML>
<HTML>
<head>
    <link rel="stylesheet" href="/static/paid.css">
    
</head>

<body>
    <h1 id = "title">B.S.S. HOSPITAL</h1>
    <hr>
    <div class="info">
    <table>
        <tr>
            <p><t>Today's Patients (Timing,ID) : {{appointments}}</t></p>
        </tr>
    </table>
    </div>
    <div class = "id">
        
        <form>
            
            <table>
                
                <tr>
                    <td>Patient ID: </td><td><input type="txt"></td>
                </tr>
            </table>
        </form>
        <br>
        <a href="{{url_for('choosepatient',doctor=doctor)}}"><button>Go</button></a>
    </div>
</body>
</HTML>