*{
    margin: 0;
    padding: 0;
}
nav{
    background-color:rgb(186, 111, 31);
    color:white;
    
    padding: 15px;
}
li,ul,h1{
    display:inline;

}
ul{
    margin-left: 80%;
}
li{
    color: rgb(255, 255, 255);
}


.login{
    background: - url(doctorlog.jpg);
    background-color: rgba(169, 105, 41, 0.2);
    background-size: auto; 
    padding: 40px; 
    margin-top: 10%;
    width: 400px;
    height: 200px;
    display:inline-block;
    margin-left: 35%;
    border-radius: 20px;

    animation: SlideDown 0.7s, fadein 2s;
    transition: 0.5s;
} 
                                   

h2{
    color:  rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}


button{
    height: 50px;
    width: 100px;
    margin-top: 5%;
    background-color: rgb(186, 111, 31);
    color: white;
    font-size: 15px;
    border-radius: 10px;
    animation: fadein 0.2s;
    transition: 0.3s;
}

button:hover{
    background-color: rgb(115, 66, 19);
    cursor: pointer;
    border-color: white;
}

input{
    height: 30px;
    width: 400px;
    margin-top: 5%;


}
td{
    border-radius: 5%;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes SlideDown{
    0%{
        transform: translateY(-300px);
    }
    100%{
        transform: translateY(0px);
    } 
}  