<!DOCTYPE HTML>
<HTML>
    <head>
        <link rel="stylesheet" href="../static/regis.css">
        <title>registration</title>
    </head>  
    <body>
        <div class="header">
            <h1>B.S.S. HOSPITAL</h1>
        </div>
        <center>
            <h2>REGISTRATION FORM</h2>
            <form method="post" action="{{ url_for('register') }}">
                <table>
                    <tr>
                        <td>NAME:</td><td><input type="text" name="Name"></td>
                    </tr>
                    <tr>
                        <td>AGE:</td><td><input type="text" name="Age"></td>
                    </tr>
                    <tr>
                        <td>GENDER</td><td><input type="text" name="Gender"></td>
                    </tr>
                    <tr>
                        <td>CONTACT NUMBER</td><td><input type="text" name="Phone No"></td>
                    </tr>
                    <tr>
                        <td>ADDRESS</td><td><input type="text" name="Address"></td>
                    </tr>
                    <tr>
                        <td>USERNAME</td><td><input type="text" name="Username"></td>
                    </tr>
                    <tr>
                        <td>PASSWORD</td><td><input type="password" name="Password"></td>
                    </tr>
                </table>
                <h3>PAST HISTORY</h3>
                <table>
                    <tr>
                        <td><input type="checkbox" name="Medical History" value="HYPERTENSION">HYPERTENSION</td><td><input type="text" placeholder="(From) How long ago ?" name = 'Hypertension Duration'></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="Medical History" value="DIABETES">DIABETES</td><td><input type="text" placeholder="(From) How long ago ?" name = 'Diabetes Duration'></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="Medical History" value="HEART DISEASE">HEART DISEASE</td><td><input type="text" placeholder="(From) How long ago ?" name="Heart Disease Duration"></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="Medical History" value="BRONCHIAL ASTHMA">BRONCHIAL ASTHMA</td><td><input type="text" placeholder="(From) How long ago ?" name="Asthma Duration"></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="Medical History" value="EPILEPSY">EPILEPSY</td><td><input type="text" placeholder="(From) How long ago ?" name="Epilepsy Duration"></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="Medical History" value="STROKE">STROKE</td><td><input type="text" placeholder="(From) How long ago ?" name="Stroke Duration"></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"  name="Medical History"value="PEPTIC ULCER">PEPTIC ULCER</td><td><input type="text" placeholder="(From) How long ago ?" name="Peptic Ulcer Duration"></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="Medical History" value="TUBERCULOSIS">TUBERCULOSIS</td><td><input type="text" placeholder="(From) How long ago ?" name="Tuberculosis Duration"></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="Medical History" value="SURGICAL">SURGICAL</td><td><input type="text" placeholder="Enter details" name="Surgery Details"></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="Medical History" value="ALLERGIES">ALLERGIES</td><td><input type="text" placeholder="Enter details" name="Allergy Details"></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="Medical History" value="SMOKING">SMOKING</td><td><input type="checkbox" name="Medical History" value="DRINKING">DRINKING</td>
                    </tr>
                </table>
                <button type="submit">SUBMIT</button>
            </form>
        </center>
    </body>
</HTML>
